## Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

## Eclipse
.mvn/timing.properties
.project
.classpath
.settings/
*.versionsBackup
java-gen
.idea/
*.iml
.java-version

## MAC Files
.DS_Store
